body {
    margin: 0;
}

/* background cover opacity 40%*/
body::after {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  position: absolute;
  z-index: -1;  
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.message {
    color:#000;
}

.navbar-default {
  background-color: #558b2f;
  border-width: 0;
}
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}


.navbar-default .navbar-nav>.active>a {
    color: #000;
    background-color: #dcedc8;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #dcedc8;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0px; 
    }
}